@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');


.App {

  background: rgb(248, 248, 248);
  padding: 0 35px;
  height: calc(100vh);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Ubuntu', sans-serif;
  color: #313131;
}

.title{
  margin-bottom: 22px;
  font-size: 2.3rem;
  color: #364FB6;
}

.soon{
  margin-top: 35px;
  font-size: 1.7rem;
  text-align: center;
}